@media only screen and (max-width: 1024px) {
    html{
        font-size: 0.9vw;
    
    }
    header {
        padding: 20px 40px 0px;
     
    }
    
    .head_img_wrap{
        width: 80px;
        height: 80px;
    }
    
    
    .li_formWrapper a{
        margin-right: 24px;
    }
    .li_formWrapper form {
  
        margin-left: 5px;
     
    } 
    
    .img_botWrapper {
        display: none;
    }
    .sec_1_textWrapper{
        margin-left: 10px;
    
    }
    
    .galery_images img {
        max-width: 100%;
        height: 100%;
        transition: 4s;
        
    }
    
    .articleWrapper {
        width: 600px;
        
    }
    
.sec_7 p {

    width: 600px;
   
}
.sec_4txtWrapper p {
    width: 580px;
    
}
.bsB {
    width: 600px;
   
}
.sec_3_inside {
    
    flex-direction: column;
}
.sec_3_imgWrapper {
    width: 100%;
    
}
.sec_3txtWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 10px;
}
.smth_2 {
    width: 234px;
    height: 78px;
}
.sec_3txtWrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 10px;
}
   
  }
@media only screen and (max-width: 800px) {
    html{
        font-size: 1vw;
    
    }
    header {
        padding: 10px 20px 0px;
       
    }
    
    .head_img_wrap{
        width: 50px;
        height: 50px;
    }
    
    .li_formWrapper a{
        
        margin-right: 10px;
    }
   
  
   
    .sec_1_textWrapper{
        margin-left: 15px;
    
    }
    
   
    
    .sec_1_textWrapper a {
        font-size: 2.5rem ;
     
        color: #776c64;
        width: 110px;
        height: 45px;
      
        margin-top: 30px;
    }
    .sec_1_textWrapper p {
        width: 50.41%;
        
    }
    .sec_2 {
        margin-top: 30px;
        width: 100%;
    }
    
    .sec_2_txtWrapper h2 {
        margin-bottom: 25px;
    }
    .sec_2_txtWrapper p {
        width: 100%;
        margin-bottom: 20px;
    }
    .sec_2_gallery {
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .galery_images {
        width: 100vw;
    }
    .img_wrapper_1 {
        width: 100vw;
        height: auto;
        
    }
    
    .galery_images img {
       width: 100%;
        height: auto;
        
    }
    .galery_textWrapper {
        width: 100%;
  
    }
    .sec_5 {
        height: auto;
    }
   
    .smth_1 {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
        background-color: #deb37e;
      
    }
    .sec_4txtWrapper p {
        width: 80%;
        margin: 0;
    }
    .sec_5 h2 {
        width: 100%;
    }
    
    
    .articleWrapper {
        width: 100%;
    }
    
    .emailSmth {

        width: 300px;
    }
    .btn_22 {
        width: 113px;
    }
    .sec_6 {
        display: none;
        
    }
    .sec_7 p {
        width: 100%;
    }
    footer {
        padding: 50px 35px 40px 45px;
    }
  }
  @media only screen and (max-width: 435px) {
      header{
          padding: 5px;
      }
    .nav_wrapper {
        flex-direction: column-reverse;
    }
    .li_formWrapper {
        flex-direction: column-reverse;
    }
    .li_formWrapper ul {
        display: none;
    }
    .li_formWrapper form {
        width: 100%;
        margin-bottom: 15px;
        
    }
    .head_img_wrap {
        margin: auto;
    }
    .sec_7 p {
        width: 80%;
    }
    .sec_7 div{
        width: 100%;
    }
    .emailSmth {
        width: 100%;
    }
    .btn_22 {
        width: 155px;
        top: 0;
        right: 0;
    }
  }