html{
    font-size: 0.695vw;

}
header {
    padding: 30px 50px 0px;
    font-size: 1.7rem;
    color: #54524f;
    text-transform: capitalize;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
}
.head_img_wrap{
    width: 100px;
    height: 100px;
}
.head_img_wrap img {
    max-width: 100%;
}
.li_formWrapper {
    display: flex;
    align-items: center;
}
.li_formWrapper ul {
    display: flex;
    
}
.li_formWrapper a{
    display: inline-block;
    color: #54524f;
    margin-right: 54px;
}
.li_formWrapper form {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 50px;
    width: 185px;
    position: relative;
}
.li_formWrapper input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #c3bfbc;
    font-size: 1.9rem;
}
.li_formWrapper form img {
    position: absolute;
    top: 20%;
    right: 10%;
}
.sec_1 {
    background-image: url(../images/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.img_topWrapper {
    width: 100%;
    
    
}
.img_botWrapper {
    width: 100%;
    height: 170px;
}
.img_topWrapper img {
   width: 100%;
  
}
.img_botWrapper img {
   width: 100%;
    height: 100%;
}
.sec_1_textWrapper{
    margin-left: 89px;

}
.sec_1_textWrapper h1{
font-size: 9.2rem;
color: #deb37e;
display: flex;
flex-direction: column;
margin-top: 215px;

}
.sec_1_textWrapper h1 span{
    margin-top: 50px;
}
.sec_1_textWrapper h3 {
    font-size: 2.5rem ;
    color: #776c64;
    margin-top: 30px;
}
.sec_1_textWrapper a {
    font-size: 2.5rem ;
 
    color: #776c64;
    width: 220px;
    height: 45px;
    border-radius: 25px;
    background-color: #fff;
    color: #54524f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.sec_1_textWrapper p {
    width: 30.41%;
    font-size: 2.1rem;
    color: #54524f;
    margin-top: 30px;
    margin-bottom: 100px;
}
.sec_2 {
    margin-top: 60px;
    width: 80%;
    margin: auto;
}
.sec_2_txtWrapper {
    text-align: center;

}
.sec_2_txtWrapper h2 {
    font-size: 6.2rem;
    color: #deb37e;
    margin-bottom: 50px;
}
.sec_2_txtWrapper p {
    font-size: 2.7rem;
    color: #7f7770;
    width: 50%;
    margin: auto;
}
.sec_2_gallery {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
}
.galery_images {
    width: 30%;
    overflow: hidden;
}
.img_wrapper_1 {
    width: 340px;
    height: 305px;
    overflow: hidden;
    background-color: #7f7770;
}
.galery_images img:hover{
    transform:scale(1.5);
}
.galery_images img {
    max-width: 100%;
    height: 100%;
    transition: 4s;
    
}
.galery_textWrapper {
    width: 340px;
background-color: #7f7770;
border: none;
padding: 50px 15px;
}
.galery_textWrapper h3 {
    font-size: 2.9rem;
    color: white;
    
    margin-bottom: 25px;
}
.galery_textWrapper p {
    font-size: 2.2rem;
    color: white;
    
}
.smth_1 {
    width: 340px;
    height: 75px;font-size: 2.3rem;
    border-radius: 35px;
    margin: auto;
    color: white;
    background-color: #7f7770;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}
.sec_3_inside {
    display: flex;
}
.sec_3_imgWrapper {
    width: 50%;
    overflow: hidden;
}
.sec_3_imgWrapper img {
    width: 100%;
    height: 100%;
}
.sec_3txtWrapper{
    width: 50%;
    font-size: 2.9rem;
    color: white;
    padding: 180px 100px 150px 63px;
    background-color: #7f7770;
}
.sec_3txtWrapper2 {
    width: 50%;
    font-size: 2.9rem;
    color: white;
    padding: 180px 70px 150px 140px;
    background-color: #deb37e;
}
.sec_3txtWrapper h2 {
    font-size: 5.3rem;
    margin-bottom: 40px;
}
.sec_3txtWrapper2 h2 {
    font-size: 5.3rem;
    margin-bottom: 40px;
}
.smth_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 334px;
    height: 78px;
    border-radius:35px;
    margin-top: 40px;
    background-color: #e2a355;
    color: white;
}
.sec_4txtWrapper {
    padding-top: 245px;
    padding-bottom: 178px;
    text-align: center;
    background-color: #7f7770;
    color: white;
    font-size: 2.9rem;
}
.sec_4txtWrapper h2 {
    font-size: 5.8rem;
    margin-bottom: 40px;
}
.sec_4txtWrapper p {
    width: 880px;
    
    margin: auto;
}
.sec_5 {
    height: 1090px;
    padding-right: 97px;
    background-image: url(../images/sec-4bg.jpg);
    background-repeat: no-repeat;
    text-align:right ;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: right;

}
.sec_5 h2 {
    font-size: 7.5rem;
    color: #deb37e;
    width: 500px;

}
.sec_5 span {
    color: white;
}
.sec_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 100px;
}
.articleWrapper {
    width: 1133px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 255px;
}
.articleWrapper article {
    width: 30%;
    font-size: 3.3rem;
    color: #deb37e;
}
.articleWrapper p {
    font-size: 1.9rem;
    color: #333d42;
    margin-top: 33px;
    
    
}
.sec_6 h2 {
    font-size: 10rem;
    color: #3f3f3f

}
.bsB {
    width: 800px;
    font-size: 2.5rem;
    color: #3f3f3f;
    margin-top:47px ;
    margin-bottom:50px ;
    text-align: center;
}
.sec_6 a {
    display: block;
    color: #3f3f3f;
    font-size: 2.5rem;
}
.sec_7 {
    padding-top: 225px;
    padding-bottom: 225px;
    background-color: #deb37e;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec_7 h2 {
    font-size: 7.5rem;
    color: white;
}
.sec_7 p {
    font-size: 3rem;
    color: #54524f;
    width: 900px;
    margin-top: 70px;
    margin-bottom: 80px;
}
.sec_7 form {
    height: 60px;
    position: relative;
}
.emailSmth {
    
    font-size: 2rem;
    width: 665px;
    border-radius: 25px;
    height: 60px;
}
.emailSmth::placeholder {
    font-size: 2rem;
    color: #776c64;
    padding: 5%;
}
.btn_22 {
    height: 60px;
    width: 225px;
    border-radius: 25px;
    background-color: #54524f;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -10%;
}
footer {
    font-size: 2.4rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: #7f7770;
    padding: 315px 70px 240px 90px
}
.leftFoot {
    width: 50%;
}
.leftFoot h3 {
    font-size: 3.2rem;
}
.leftFoot p {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 37px;
}
.fa-brands {
    margin-right: 10px;
    font-size: 3.2rem;
}
.rightFoot{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.listWrapper h4 {
    font-size: 3.2rem;
    margin-bottom: 35px;
}
.listWrapper a {
    display: inline-block;
    color: white;
    padding: 5px;
    
}
.listWrapper a:hover {
    color: #e2a355;
    
}